body{
    background: greenyellow;
    max-width: 95%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.zag{
    font-size: 150px;
    text-align: center;
    background: goldenrod;
    border: 10px solid black ;
    border-radius: 50%;
}
.logo{
    background: blue;
    border: 10px solid black ;
    border-radius: 50%;
}
.news{
    background:rgb(150, 147, 109);
}
.f1{
    width: 250px;
}
.inp{
    display: block;

}